@import "./styles/utils/utils-styles-global.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}


